package config

// PORT s
var PORT = ":PORT"

// URLROOT url
var URLROOT = "https://URL.CA"

// URLDB database uri
var URLDB = "mongodb://URL:PORT/"

// SECRET a super secret token
var SECRET = "SUPER_SECRET_TOKEN!"

// jwtKey
var jwtKey = []byte(SECRET)
